.example {
    background-color: black;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    transition: all .3s ease-in-out;
}

.animate {
    background-color: blue;
    width: 10rem;
    height: 10rem;
}