:root {
  --transition-length: 2s;
}

.example {
    background-color: black;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    transition: all .1s ease-in-out;
}

.screen1 .example {
    background-color: blueviolet;
}

.screen2 .example {
    background-color: green;
}

.screen3 .example {
    background-color: red;
}

.screen1 body, .screen2 body, .screen3 body {
  background-color: black;
}

.screensaver {
  color: white;
}

.screensaver span {
  /* transition: opacity var(--transition-length) ease-in-out;
  -moz-transition: opacity var(--transition-length) ease-in-out; */
  display: none;
  /* opacity: 0; */
  font-size: 20rem;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
}

.screensaver .opacity-up {
  /* opacity: 1; */
  animation-name: up;
  animation-duration:var(--transition-length);
}

.screensaver .opacity-down {
  /* opacity: 0; */
  animation-name: down;
  animation-duration:var(--transition-length);
}

.screen1 .screensaver span:nth-of-type(1) {
  display: inline-block;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  opacity: 0;
}

.screen2 .screensaver span:nth-of-type(2) {
  display: inline-block;
  top: 20%;
  left: 5%;
  opacity: 0;
}

.screen3 .screensaver span:nth-of-type(3) {
  display: inline-block;
  bottom: 5%;
  right: 50%;
  transform: translateY(50%);
  opacity: 0;
}

.animate {
    background-color: blue;
    width: 10rem;
    height: 10rem;
}

.screen-selector {
  display: flex;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  justify-content: space-between;
}

.screen-choices {
  display: flex;
  width: 70vw;
  max-width: 30rem;
  justify-content: space-between;
}

.screen-choice {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 1rem;
}

.screen-chosen {
  background-color: grey;
  color: white;
  pointer-events: none;
}

.screen-current {
  background-color: red;
}

#images {
  position: absolute;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
}

#images img {
  grid-row: 1;
  grid-column: 1;
}

canvas {
  position: absolute;
   top: 0;
  left: 0;
  z-index: -1;
}

.hidden {
  display: none;
}


@keyframes up {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes down {
  from {opacity: .9;}
  to {opacity: 0;}
}