:root {
  --transition-length: 2s;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* .example {
    background-color: black;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    transition: all .1s ease-in-out;
}

.screen1 .example {
    background-color: blueviolet;
}

.screen2 .example {
    background-color: green;
}

.screen3 .example {
    background-color: red;
} */

.screen1 body, .screen2 body, .screen3 body {
  background-color: black;
}

.screensaver {
  color: white;
}

.screensaver span {
  /* transition: opacity var(--transition-length) ease-in-out;
  -moz-transition: opacity var(--transition-length) ease-in-out; */
  display: none;
  /* opacity: 0; */
  font-size: 20rem;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
}

.screensaver .opacity-up {
  /* opacity: 1; */
  animation-name: up;
  animation-duration:var(--transition-length);
}

.screensaver .opacity-down {
  /* opacity: 0; */
  animation-name: down;
  animation-duration:var(--transition-length);
}

.screen1 .screensaver span:nth-of-type(1) {
  display: inline-block;
  bottom: 5%;
  right: 50%;
  transform: translateX(50%);
  opacity: 0;
}


.screen2 .screensaver span:nth-of-type(2) {
  display: inline-block;
  top: 20%;
  left: 5%;
  opacity: 0;
}

.screen3 .screensaver span:nth-of-type(3) {
  display: inline-block;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  opacity: 0;
}


.animate {
    background-color: blue;
    width: 10rem;
    height: 10rem;
}

.screen-selector {
  display: flex;
  flex-direction: column;
  /* height: 30vh; */
  align-items: center;
  justify-content: space-between;
}

.screen-choices {
  display: grid;
  /* display: flex; */
  /* width: 70vw; */
  /* max-width: 30rem; */
  /* justify-content: space-between; */
  grid-template-columns: 7rem 10.1rem 3.8rem 5.8rem 10.5rem 6rem 5rem;
  grid-template-rows: 3.5rem 2.5rem 10rem 2.5rem 1.5rem 8.5rem;
  background-image: url('../assets/styling/background.png');
  background-repeat: no-repeat;
  background-size: 50rem auto ;
  height: 50rem;
  width: 50rem;
  
}

.screen-choice {
  text-decoration: none;
  background-color: white;
  border: blue .2rem solid;
  color: black;
  /* padding: 1rem; */
  /* text-align: center; */
  /* height: 100%; */
  transition: border .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-choice:hover {
  border-width: .5rem;
}

.screen-choice:first-of-type{
  grid-row: 2 / span 4;
  grid-column: 2;
  /* padding-top: 7rem; */
}

.screen-choice:nth-of-type(2){
  grid-row: 3;
  grid-column: 5 / span 2;
  /* padding-top: 4rem; */
}

.screen-choice:last-of-type{
  grid-row: 5 / span 2;
  grid-column: 4 / span 2;
  /* padding-top: 4rem; */
}

.screen-chosen {
  background-color: grey;
  color: white;
  pointer-events: none;
}

.screen-current {
  background-color: red;
}

#images {
  position: absolute;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
}

#images img {
  grid-row: 1;
  grid-column: 1;
}

canvas {
  position: absolute;
   top: 0;
  left: 0;
  z-index: -1;
}

.hidden {
  display: none;
}


@keyframes up {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes down {
  from {opacity: .9;}
  to {opacity: 0;}
}